FastwayShopifyAppV3/Connected Services/AramexShipping/Service_1_01.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ws.aramex.net/ShippingAPI/v1/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.aramex.net/ShippingAPI/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ws.aramex.net/ShippingAPI/v1/Imports">
      <xsd:import schemaLocation="http://ws.aramex.net/ShippingAPI.V2/Shipping/Service_1_0.svc?xsd=xsd0" namespace="http://ws.aramex.net/ShippingAPI/v1/" />
      <xsd:import schemaLocation="http://ws.aramex.net/ShippingAPI.V2/Shipping/Service_1_0.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ShipmentCreationRequest">
    <wsdl:part name="parameters" element="tns:ShipmentCreationRequest" />
  </wsdl:message>
  <wsdl:message name="ShipmentCreationResponse">
    <wsdl:part name="parameters" element="tns:ShipmentCreationResponse" />
  </wsdl:message>
  <wsdl:message name="LabelPrintingRequest">
    <wsdl:part name="parameters" element="tns:LabelPrintingRequest" />
  </wsdl:message>
  <wsdl:message name="LabelPrintingResponse">
    <wsdl:part name="parameters" element="tns:LabelPrintingResponse" />
  </wsdl:message>
  <wsdl:message name="PickupCreationRequest">
    <wsdl:part name="parameters" element="tns:PickupCreationRequest" />
  </wsdl:message>
  <wsdl:message name="PickupCreationResponse">
    <wsdl:part name="parameters" element="tns:PickupCreationResponse" />
  </wsdl:message>
  <wsdl:message name="PickupCancelationRequest">
    <wsdl:part name="parameters" element="tns:PickupCancelationRequest" />
  </wsdl:message>
  <wsdl:message name="PickupCancelationResponse">
    <wsdl:part name="parameters" element="tns:PickupCancelationResponse" />
  </wsdl:message>
  <wsdl:message name="ReserveRangeRequest">
    <wsdl:part name="parameters" element="tns:ReserveRangeRequest" />
  </wsdl:message>
  <wsdl:message name="ReserveRangeResponse">
    <wsdl:part name="parameters" element="tns:ReserveRangeResponse" />
  </wsdl:message>
  <wsdl:message name="LastReservedShipmentNumberRangeRequest">
    <wsdl:part name="parameters" element="tns:LastReservedShipmentNumberRangeRequest" />
  </wsdl:message>
  <wsdl:message name="LastReservedShipmentNumberRangeResponse">
    <wsdl:part name="parameters" element="tns:LastReservedShipmentNumberRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ScheduledDeliveryRequest">
    <wsdl:part name="parameters" element="tns:ScheduledDeliveryRequest" />
  </wsdl:message>
  <wsdl:message name="ScheduledDeliveryResponse">
    <wsdl:part name="parameters" element="tns:ScheduledDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="HoldCreationRequest">
    <wsdl:part name="parameters" element="tns:HoldCreationRequest" />
  </wsdl:message>
  <wsdl:message name="HoldCreationResponse">
    <wsdl:part name="parameters" element="tns:HoldCreationResponse" />
  </wsdl:message>
  <wsdl:portType name="Service_1_0">
    <wsdl:operation name="CreateShipments">
      <wsdl:input wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CreateShipments" name="ShipmentCreationRequest" message="tns:ShipmentCreationRequest" />
      <wsdl:output wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CreateShipmentsResponse" name="ShipmentCreationResponse" message="tns:ShipmentCreationResponse" />
    </wsdl:operation>
    <wsdl:operation name="PrintLabel">
      <wsdl:input wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/PrintLabel" name="LabelPrintingRequest" message="tns:LabelPrintingRequest" />
      <wsdl:output wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/PrintLabelResponse" name="LabelPrintingResponse" message="tns:LabelPrintingResponse" />
    </wsdl:operation>
    <wsdl:operation name="CreatePickup">
      <wsdl:input wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CreatePickup" name="PickupCreationRequest" message="tns:PickupCreationRequest" />
      <wsdl:output wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CreatePickupResponse" name="PickupCreationResponse" message="tns:PickupCreationResponse" />
    </wsdl:operation>
    <wsdl:operation name="CancelPickup">
      <wsdl:input wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CancelPickup" name="PickupCancelationRequest" message="tns:PickupCancelationRequest" />
      <wsdl:output wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/CancelPickupResponse" name="PickupCancelationResponse" message="tns:PickupCancelationResponse" />
    </wsdl:operation>
    <wsdl:operation name="ReserveShipmentNumberRange">
      <wsdl:input wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/ReserveShipmentNumberRange" name="ReserveRangeRequest" message="tns:ReserveRangeRequest" />
      <wsdl:output wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/ReserveShipmentNumberRangeResponse" name="ReserveRangeResponse" message="tns:ReserveRangeResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetLastShipmentsNumbersRange">
      <wsdl:input wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/GetLastShipmentsNumbersRange" name="LastReservedShipmentNumberRangeRequest" message="tns:LastReservedShipmentNumberRangeRequest" />
      <wsdl:output wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/GetLastShipmentsNumbersRangeResponse" name="LastReservedShipmentNumberRangeResponse" message="tns:LastReservedShipmentNumberRangeResponse" />
    </wsdl:operation>
    <wsdl:operation name="ScheduleDelivery">
      <wsdl:input wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/ScheduleDelivery" name="ScheduledDeliveryRequest" message="tns:ScheduledDeliveryRequest" />
      <wsdl:output wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/ScheduleDeliveryResponse" name="ScheduledDeliveryResponse" message="tns:ScheduledDeliveryResponse" />
    </wsdl:operation>
    <wsdl:operation name="HoldShipments">
      <wsdl:input wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/HoldShipments" name="HoldCreationRequest" message="tns:HoldCreationRequest" />
      <wsdl:output wsaw:Action="http://ws.aramex.net/ShippingAPI/v1/Service_1_0/HoldShipmentsResponse" name="HoldCreationResponse" message="tns:HoldCreationResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>